#bm-carousel .carousel-inner {
    overflow: visible;
}
#bm-carousel .carousel-caption {
    right: 1em;
    left: 1em;
}
#bm-carousel .carousel-caption__info {
    position: absolute;
    width: 100%;
    right: -120%;
    left: auto;
    bottom: -30%;
}

@media (max-width: 992px) {
    .btn-group-vertical {
        display: none;
    }
    .carousel-inner {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .carousel-caption__info {
        position: absolute;
        top: 200%;
        right: 0 !important;
    }
}

@media (max-width: 1200px) {
    .carousel-item .card img {
            display: none;
    }
}



